@import 'bootstrap-sprockets';
@import 'bootstrap';

*{
	margin: 0;
	padding: 0;
}

.nopadding{
	padding: 0;
}

.nomargin{
	margin: 0;
}


$gray-light: #777;
$gray-medium-light: #eaeaea;
$white: #fff;


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box_sizing;
}
/* header */
#logo{
	color: $white;
	font-weight: bold;
	font-size: 35px;
	float: left;
}



/* body */
body{
	padding-top: 60px;
	a:hover{
		text-decoration: none;
	}

	h1, h2{
		line-height: 1;
		text-align: center;
	}

	h2{
		color: $gray-light;
	}

	.center{
		text-align: center;
	}
}



/* footer */
footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;
  small{
		float: left;
	}
	ul{
		float: right;
	}
	ul li{
		float: left;
		list-style: none;
		margin-left: 15px;
	}
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    margin-top: 20px;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  @include box_sizing;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
